.result {
  height: 100px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 60px;
  padding: 5px 20px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.keys {
  background-color: black;
}

button {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;
  width: 22%;
  height: 22%;
  font-size: 30px;
}

.orange {
  background-color: orange;
}

.silver {
  background-color: silver;
  color: black;
}